GODADDY_API_ENV=ote
GODADDY_OTE_API_KEY=your_ote_key
GODADDY_OTE_API_SECRET=your_ote_secret
GODADDY_OTE_API_BASE_URL=https://api.ote-godaddy.com
GODADDY_PRD_API_KEY=your_production_key
GODADDY_PRD_API_SECRET=your_production_secret
GODADDY_PRD_API_BASE_URL=https://api.godaddy.com
# Optional generic override:
# GODADDY_API_BASE_URL=https://api.ote-godaddy.com

NAMECHEAP_API_ENV=sandbox
NAMECHEAP_SANDBOX_API_USER=your_sandbox_api_user
NAMECHEAP_SANDBOX_API_KEY=your_sandbox_api_key
NAMECHEAP_SANDBOX_USERNAME=your_sandbox_username
NAMECHEAP_SANDBOX_CLIENT_IP=203.0.113.10
NAMECHEAP_SANDBOX_API_BASE_URL=https://api.sandbox.namecheap.com/xml.response
NAMECHEAP_PRD_API_USER=your_production_api_user
NAMECHEAP_PRD_API_KEY=your_production_api_key
NAMECHEAP_PRD_USERNAME=your_production_username
NAMECHEAP_PRD_CLIENT_IP=203.0.113.10
NAMECHEAP_PRD_API_BASE_URL=https://api.namecheap.com/xml.response
